*{
    margin: 0 auto;
    padding: 0;
    min-height: 71.5px;
    min-width: 71.5px;
}

 .header{
     text-align: center;
     font-size: larger;
     margin: 10px 0px 10px 0px ;
     font-family: 'Courier New', Courier, monospace;
 }
 
 .border{
     border: 10px solid SaddleBrown;
     width: 600px; 
     height: 600px;
     margin-left: 25%;
     margin-right: 25%;
     margin-top: 8%;
     margin-bottom: 70%;
 }

 table{
    align-items: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 8%;
    margin-bottom: 70%;
    
 }

.tabel{
    width: 790px;
    height: 790px; 
}

.white{
    color: Moccasin;
    background-color:  Moccasin;
}

.black{
    color: SaddleBrown;
    background-color: SaddleBrown;
}





